<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>data-scraping</title>
    <link rel="stylesheet" href="/web_assets/css/home.css">
</head>

<body>
    runing home page
</body>

</html>